<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>CONTACTO</title>
</head>

<body>
    <main class="contacto">
        <header>
            <div>
                <h2>Diseño <span> Multimedia</span></h2>
                <nav>
                    <a href="../index.html">INICIO</a>
                    <a href="../templates/Nosotros.html">NOSOTROS</a>
                    <a href="../templates/Servicios.html">SERVICIOS</a>
                    <a href="../templates/Contacto.html">CONTACTO</a>
                </nav>
            </div>
            <div id="susbcribete">
                <h3 id="subs">Subscríbete a nuestro boletín</h3>
                <div id="botones">
                    <input type="text" placeholder="Ingrese el Email...">
                    <a id="boton" href="#">Subscríbete</a>
                </div>
            </div>
        </header>
        <section class="seccion">
            <div class="caja">
                <h2 class="subtitulo">Contacto</h2>

                <p id="tInfo">Nombre</p>
                <input id="informacion" type="text" placeholder="Ingresa tu nombre">


                <p id="tInfo">Email</p>
                <input id="informacion" type="text" placeholder="Ingresa tu email">


                <p id="tInfo">Teléfono</p>
                <input id="informacion" type="text" placeholder="Ingresa tu teléfono">


                <p id="tInfo">Celular</p>
                <input id="informacion" type="text" placeholder="Ingresa tu celular">


                <p id="tInfo">Mensaje</p>
                <textarea name="" id="informacion1"></textarea>
                <a id="botonEnviar" href="#">Enviar</a>

            </div>
            <div class="info">
                <h2 id="subtituloN">Que hacemos</h2>
                <p id="textoA">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eum culpa asperiores!
                    Nam
                    ullam nostrum culpa ducimus aliquid maiores facilis deserunt porro, optio magni, officiis esse
                    nesciunt repellendus repudiandae expedita.</p>
                <img id="imgM" src="../assets/images/mapaGoogle.png" alt="">
            </div>
        </section>
    </main>
    <footer>Graphel Desarrollo Web, Copyright © 2017</footer>
</body>

</html>